node_modules
.next
.git
.gitignore
*.png
*.jpg
*.jpeg
*.tsbuildinfo
take_shot.js
test_bumps.html
test_cards.html
test_vector.svg
downloaded_figma_assets
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.env*.local
